.rel {
    position: relative;
}

.mr5{
    margin-right: 5px;
}

.mr10{
    margin-right: 10px;
}

.ml5{
    margin-left: 5px;
}

.ml10{
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.f12 {
    font-size: 12px;
}

.white {
    color: #fff;
}

.lh25{
    line-height: 25px;
}

.w40{
    width: 40px;
}

.w60{
    width: 60px;
}